.App {
  font-family: sans-serif;
  text-align: center;
}
.gallery {
  width: 60vw;
  margin: 0 auto;
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(250px, 1fr));
  grid-auto-rows: minmax(20vh, 28vh);
  grid-auto-flow: dense;
  grid-gap: 10px;
}
.grid-item {
  border: 5px solid #000;
  overflow: hidden;
}
.grid-item:nth-of-type(1),
.grid-item:nth-of-type(5),
.grid-item:nth-of-type(9),
.grid-item:nth-of-type(11) {
  grid-row: span 2;
}
/* .grid-item:nth-of-type(2) {
  grid-row: 2span 1;
} */
.grid-item:nth-of-type(3),
.grid-item:nth-of-type(7) {
  grid-row: span 3;
}
.grid-item:nth-of-type(4),
.grid-item:nth-of-type(10) {
  /* grid-column: 2 / span 1; */
  grid-row: span 3;
}
/* .grid-item:nth-of-type(6) {
  grid-column: 3 / span 1;
  grid-row: 4 / span 1;
} */
.grid-item > img {
  width: 100%;
  height: 100%;
  object-fit: cover;
}
